html,
body,
div,
p,
h1,
a,
span,
img,
ul,
li,
form,
input {
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
	font-weight: normal;
	background: transparent;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

select {
	outline: none !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-image: url("https://179523.selcdn.ru/public/layout-images/select-triangle.svg");
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 10px 10px;
}

select:hover {
	background-size: 10px 10px;
	background-position: right 10px center;
}

select:focus {
	outline: none !important;
	outline-color: transparent;
	outline-width: 0;
}

select::-ms-expand {
	display: none !important;
	background: none !important;
	position: fixed;
	border: none !important;
	outline: none !important;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
	border: none;
}

*:not(#fake) {
	outline: none;
}

select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

.oneword {
	white-space: nowrap;
	font-size: inherit;
	font-weight: inherit;
}

body {
	background: #fff;
	font: normal 16px 'Open Sans', sans-serif;
	background: #4b8cbe;
}


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.container {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 10px;
}

header a {
	text-decoration: none;
}

.logo {
	float: left;
	background: url(../img/logo.png) no-repeat 0 5px;
	width: 220px;
	padding-left: 60px;
	color: #fff;
	font-size: 14px;
}

.logo p:first-child {
	font: normal 27px 'Ubuntu', sans-serif;
	color: #fc0;
}

.img_wrap {
	margin-left: 66px;
	margin-top: 30px;
}

.btn-top {
	float: right;
	color: #fc0;
	padding: 12px;
	border: 1px solid #fc0;
	border-radius: 20px;
	font-size: 14px;
	margin: 0 0 0 10px;
	cursor: pointer;
}

.block1 {
	background: url(../img/block1bg.png) no-repeat 58% top, url(../img/block1bg2.png) no-repeat bottom center, linear-gradient(to top, #2d5472 0%, #4b8cbe 100%);
}

.block1 .container {
	padding: 40px 10px 40px 10px;
	position: relative;
}

.title1 h1 {
	margin-top: 20px;
	color: white;
	text-transform: uppercase;
	font: bold 44px 'Open Sans', sans-serif;
	text-align: center;
	line-height: 48px;
}

.title1 span {
	font-weight: 300;
}

.block1-left,
.block2-main {
	float: left;
	/* margin-top: 40px; */
}

.block2-main {
	margin-top: 0px;
}

.title1 p {
	color: #fce6c9;
	font: bold 24px 'Open Sans', sans-serif;
	text-align: center;
}

.bulit {
	margin-top: 40px;
	width: 280px;
	position: relative;
}

.bulit li {
	list-style: none;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	background: url(../img/ok.png) no-repeat 0 2px;
	color: #fff;
	padding: 0 0 10px 40px;
	border-bottom: 1px solid #86a7c5;
	margin-bottom: 14px;
}

.bulit li:last-child {
	border-bottom: 0;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.bulit:before {
	position: absolute;
	display: block;
	content: '';
	width: 167px;
	height: 171px;
	top: 247px;
	left: 241px;
	z-index: 10;
}
.webp .bulit:before {
	background: url(../img/badge.webp) no-repeat center;
}
.no-webp .bulit:before {
	background: url(../img/badge.png) no-repeat center;
}
.block6 {
	background: #fff5cb url(../img/block2bg.png) no-repeat center 100%;
	position: relative;
	padding: 40px 10px;
}

.block6 .container {
	position: relative;
}

.block1-right {
	float: right;
	width: 350px;
	background-color: #fff5cb;
	margin-top: 49px;
	padding-bottom: 12px;
}

.share_price {
	color: #0d3466;
	font-size: 20px;
	font-family: 'Open Sans';
	line-height: 1.2;
	padding: 20px 0;
	text-align: center;
	font-weight: 700;
}

.share_price span {
	font-weight: 700;
}

.block1-right .share_price {
	color: #ff513a;
	letter-spacing: -1px;
	padding: 10px 0 0 0;
}

.time {
	width: 100%;
	height: 150px;
	background: #fff;
	padding: 10px;
	text-align: center;
}

.time1 {
	width: 300px;
	padding: 10px;
	margin: 0 auto;
}

.price {
	display: inline-block;
	vertical-align: top;
	padding-top: 12px;
}

.price_current {
	color: #ff513a;
}

.current {
	font-size: 13px;
	font-weight: 400;
}

.x_price_current {
	display: inline-block;
	font-size: 48px;
	font-family: 'Open Sans';
	margin-right: 3px;
	font-weight: 800;
}

.price_previous {
	color: #999;
}

.previous {
	font-size: 13px;
	font-weight: 400;
}

.x_price_previous {
	display: inline-block;
	font-size: 34px;
	text-decoration: line-through;
	font-family: 'Open Sans';
	margin-right: 5px;
	font-weight: 700;
}

.x_currency {
	display: inline-block;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 700;
}

.box-with-tube {
	position: absolute;
	left: 370px;
}

.box-with-tube img {
	position: absolute;
	left: 8px;
	top: 47px;
	width: 190px;
}

.discount {
	background: #ffcc00;
	padding: 4px 15px 7px 20px;
	position: absolute;
	left: -30px;
	top: 50px;
	border-radius: 8px;
	font-weight: 600;
	line-height: 1.15;
}

.discount p:first-child {
	font-size: 40px;
	font-weight: 600;
}

.discount span {
	font-size: 30px;
}

.discount p:last-child {
	text-transform: uppercase;
}

.forma {
	width: 330px;
	color: #fff;
	margin: 10px auto;
}

select,
input {
	width: 100%;
	height: 40px;
	padding: 0 10px 0 48px;
	line-height: 40px;
	margin-bottom: 10px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	background-color: #fff;
	color: #0d3466;
	font-size: 14px;
	font-weight: 400;
}

input[type=text] {
	background: #fff url(../img/input-name.png) no-repeat 12px center;
}

.x_country_select {
	position: relative;
}

.x_country_select::after {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	top: 10px;
	left: 12px;
	background: #fff url(../img/world.svg) no-repeat center center;
	background-size: 20px;
}

form .x_phone_example {
	background: #fff url(../img/input-phone.png) no-repeat 12px center;
}

.submit {
	margin-bottom: 10px;
	padding: 0 7px;
	background-color: #ffcc00;
	border: 0;
	color: #080600;
	font: 600 17px 'Open Sans', sans-serif;
	line-height: 70px;
	text-transform: uppercase;
	cursor: pointer;
	width: 100%;
}

.lock {
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: #ff513a;
	background: url(../img/lock.png) no-repeat 12px center;
	padding: 0 0 0 52px;
}

.block3 .container {
	padding: 40px 10px 40px 10px;
	position: relative;
}

.block3 .container:after {
	position: absolute;
	display: block;
	content: '';
	width: 428px;
	height: 550px;
	bottom: -1px;
	left: 410px;
	z-index: 1;
}

.webp .block3 .container:after {
	background: url(../img/men.webp) no-repeat center bottom;
	background-size: 90%;
}

.no-webp .block3 .container:after {
	background: url(../img/men.png) no-repeat center bottom;
	background-size: 90%;
}

.title3 {
	text-align: center;
	color: #fff;
	margin-bottom: 50px;
}

.title3 h1 {
	font: bold 34px 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.title3 p {
	font: 600 24px 'Open Sans', sans-serif;
}

.symptoms div {
	padding: 10px 100px;
	font-size: 18px;
	color: #fff;
}
.symptoms div:not(:last-of-type) {
	margin-bottom: 10px;
}
.symptom1 p:last-child,
.symptom2 p:last-child,
.symptom3 p:last-child,
.symptom4 p:last-child {
	font: bold 36px 'Open Sans', sans-serif;
}

.symptom1 span,
.symptom2 span,
.symptom3 span,
.symptom4 span {
	font: 400 36px 'Open Sans', sans-serif;
}

.symptom1 {
	background: url(../img/symptom1.png) no-repeat 2% center, -webkit-gradient(linear, left top, right top, from(#ff5139), to(#4b8cbe));
	background: url(../img/symptom1.png) no-repeat 2% center, linear-gradient(to right, #ff5139 0%, #4b8cbe 100%);
}

.symptom2 {
	background: url(../img/symptom2.png) no-repeat 2% center, -webkit-gradient(linear, left top, right top, from(#ff5139), to(#4b8cbe));
	background: url(../img/symptom2.png) no-repeat 2% center, linear-gradient(to right, #ff5139 0%, #4b8cbe 100%);
}

.symptom3 {
	background: url(../img/symptom3.png) no-repeat 2% center, -webkit-gradient(linear, left top, right top, from(#ff5139), to(#4b8cbe));
	background: url(../img/symptom3.png) no-repeat 2% center, linear-gradient(to right, #ff5139 0%, #4b8cbe 100%);
}

.symptom4 {
	background: url(../img/symptom4.png) no-repeat 2% center, -webkit-gradient(linear, left top, right top, from(#ff5139), to(#4b8cbe));
	background: url(../img/symptom4.png) no-repeat 2% center, linear-gradient(to right, #ff5139 0%, #4b8cbe 100%);
}

.block4 {
	background: #0d3466;
	position: relative;
	z-index: 2;
}

.block4 .container {
	padding: 40px 10px;
}

.title4 {
	color: #fff;
	font: bold 34px 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.statistic {
	float: left;
	width: 320px;
	color: #89dcff;
	font: 500 40px 'Open Sans', sans-serif;
	text-align: center;
	padding-top: 230px;
}

.statistic p:first-child {
	font: 500 20px 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.statistic div {
	font: 400 18px 'Open Sans', sans-serif;
}

.statistic .article {
	font: 300 18px 'Open Sans', sans-serif;
	color: #fff;
	padding: 0 10px;
}

.statistic1 {
	background: url(../img/statistic1.png) no-repeat center 0;
}

.statistic2 {
	background: url(../img/statistic2.png) no-repeat center 0;
}

.statistic3 {
	background: url(../img/statistic3.png) no-repeat center 0;
}

.necessary {
	padding: 20px 30px;
}

.webp .necessary {
	background: #1f4d7d url(../img/artery.webp) no-repeat right bottom;
}

.no-webp .necessary {
	background: #1f4d7d url(../img/artery.png) no-repeat right bottom;
}

.necessary h1 {
	/* height: 60px; */
	padding: 15px 0;
	color: #ff634e;
	background: url(../img/alert.png) no-repeat 0 center;
	font: 700 26px 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-align: right;
	padding-left: 80px;
}

.necessary div {
	color: #fff;
	font: 400 20px 'Open Sans', sans-serif;
	margin: 20px 0 10px 0;
	padding-right: 440px;
	line-height: 30px;
}

.contains {
	text-align: center;
}

.block5 .container {
	padding: 40px 10px;
}

.block5 .container div {
	padding: 40px 10px;
}

.webp .block5 .container div {
	background: #fff url(../img/heart.webp) no-repeat left bottom;
}

.no-webp .block5 .container div {
	background: #fff url(../img/heart.png) no-repeat left bottom;
}

.title5 {
	color: #0d3466;
	font: 700 34px 'Open Sans', sans-serif;
	line-height: 40px;
	text-transform: uppercase;
	text-align: center;
}

.exposition {
	padding: 30px 20px 0 340px;
	font: 400 20px 'Open Sans', sans-serif;
	line-height: 30px;
	color: #010101;
	font-weight: 400;
}

.exposition span {
	color: #ff634e;
	font-weight: 500;
}

.block6 .container {
	position: relative;
	padding: 0 0 10px 0;
}

.block6 .block1-right {
	padding: 10px 0;
}

.img_prod {
	width: 127px;
}

.box-with-tube6 {
	float: left;
	position: absolute;
	left: 380px;
	top: -32px;
}

.box-with-tube6 .discount {
	top: 42px;
	left: 2px;
}

.forma6 {
	width: 305px;
	float: right;
	color: #fff;
}

.forma6 .submit {
	margin: 10px 0 20px 0;
}

.title7 {
	font: 700 34px 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	margin-bottom: 30px;
}

.ingredient1,
.ingredient2,
.ingredient3 {
	float: left;
	padding-top: 40px;
	position: relative;
}

.ingredient1:after,
.ingredient2:after,
.ingredient3:after {
	position: absolute;
	display: block;
	content: '';
	width: 170px;
	height: 178px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.webp .ingredient1:after {
	background: url(../img/ingredient1.webp) no-repeat center;
}
.no-webp .ingredient1:after {
	background: url(../img/ingredient1.png) no-repeat center;
}

.webp .ingredient2:after {
	background: url(../img/ingredient2.webp) no-repeat center;
}
.no-webp .ingredient2:after {
	background: url(../img/ingredient2.png) no-repeat center;
}

.webp .ingredient3:after {
	background: url(../img/ingredient3.webp) no-repeat center;
}
.no-webp .ingredient3:after {
	background: url(../img/ingredient3.png) no-repeat center;
}

.composition {
	background: #356f9c;
	width: 275px;
	text-align: center;
	padding: 140px 4px 25px 4px;
	margin-right: 10px;
	line-height: 24px;
	min-height: 300px;
}

.composition p,
.no-contain p {
	color: #fff1d4;
	font: 500 20px 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.composition div,
.no-contain div {
	font-weight: 400;
	margin-top: 15px;
	color: #fff;
}

.no-contain {
	text-align: center;
	width: 250px;
	margin: 40px 45px 0px 30px;
	line-height: 24px;
	padding-top: 230px;
	float: left;
}

.no-contain1 {
	background: url(../img/no-contain1.png) no-repeat center 0;
}

.no-contain2 {
	background: url(../img/no-contain2.png) no-repeat center 0;
}

.no-contain3 {
	background: url(../img/no-contain3.png) no-repeat center 0;
	margin-right: 0;
}

.block8 {
	background: #0d3466;
}

.block8 .container {
	padding: 40px 10px;
}

.block8 .container h1 {
	margin-bottom: 30px;
}

.also-left {
	float: left;
	width: 475px;
	margin-top: 10px;
	padding: 40px 140px 30px 30px;
	color: #fff;
	font: 400 18px 'Open Sans', sans-serif;
	line-height: 26px;
	text-align: right;
	min-height: 122px;
}

.also-right {
	float: right;
	width: 475px;
	margin-top: 10px;
	padding: 40px 30px 30px 140px;
	color: #fff;
	font: 400 18px 'Open Sans', sans-serif;
	line-height: 26px;
	min-height: 122px;
}

.also1 {
	background: url(../img/also1.png) no-repeat right center,
		-webkit-gradient(linear, left top, right top, from(#064d84), to(#0d3466));
	background: url(../img/also1.png) no-repeat right center,
		linear-gradient(to right, #064d84, #0d3466);
}

.also2 {
	background: url(../img/also2.png) no-repeat left center,
		-webkit-gradient(linear, right top, left top, from(#4a3b5b), to(#0d3466));
	background: url(../img/also2.png) no-repeat left center,
		linear-gradient(to left, #4a3b5b, #0d3466);
}

.also3 {
	background: url(../img/also3.png) no-repeat right center,
		-webkit-gradient(linear, left top, right top, from(#064d84), to(#0d3466));
	background: url(../img/also3.png) no-repeat right center,
		linear-gradient(to right, #064d84, #0d3466);
}

.also4 {
	background: url(../img/also4.png) no-repeat left center,
		-webkit-gradient(linear, right top, left top, from(#4a3b5b), to(#0d3466));
	background: url(../img/also4.png) no-repeat left center,
		linear-gradient(to left, #4a3b5b, #0d3466);
}

.also5 {
	background: url(../img/also5.png) no-repeat right center,
		-webkit-gradient(linear, left top, right top, from(#064d84), to(#0d3466));
	background: url(../img/also5.png) no-repeat right center,
		linear-gradient(to right, #064d84, #0d3466);
}

.also6 {
	background: url(../img/also6.png) no-repeat left center,
		-webkit-gradient(linear, right top, left top, from(#4a3b5b), to(#0d3466));
	background: url(../img/also6.png) no-repeat left center,
		linear-gradient(to left, #4a3b5b, #0d3466);
}

.recommends {
	background: #fff;
	margin: 0px auto;
}

.doctorbg {
	background: url(../img/doctor.png) no-repeat 99% bottom,
		url(../img/bg9.png) no-repeat center bottom;
	padding: 0 30px 10px 30px;
}


.title9 {
	text-align: center;
	padding: 30px 0px;
	color: #ff513a;
	font: bold 34px 'Open Sans', sans-serif;
	text-transform: uppercase;
}

.recommend {
	font-weight: 400;
	line-height: 24px;
	padding-right: 330px;
}

.recommend p {
	text-indent: 10px;
}

.signature {
	width: 415px;
	color: #ff513a;
	padding: 30px 10px 30px 0;
	line-height: 27px;
	position: relative;
}

.signature p:first-child {
	font-size: 22px;
	font-weight: 600;
}

.signature:after {
	position: absolute;
	display: block;
	content: '';
	width: 137px;
	height: 137px;
	top: -25px;
	left: 370px;
}

.schem {
	display: inline-block;
	text-align: center;
	margin-right: 22px;
}

.schem:last-child {
	margin-right: 0;
}

.schema {
	width: 220px;
	height: 260px;
	color: #89dcff;
	font: bold 44px 'Open Sans', sans-serif;
	line-height: 24px;
	text-align: center;
	border-radius: 0 0 15px 15px;
	padding: 32px 0 0 8px;
}

.schema1 {
	background: url(../img/schema1.png) no-repeat center top,
		-webkit-gradient(linear, left top, left bottom, from(#0d3466), to(#1f4d7d));
	background: url(../img/schema1.png) no-repeat center top,
		linear-gradient(to bottom, #0d3466 0%, #1f4d7d 100%);
}

.schema3 {
	background: url(../img/schema3.png) no-repeat center top,
		-webkit-gradient(linear, left top, left bottom, from(#0d3466), to(#1f4d7d));
	background: url(../img/schema3.png) no-repeat center top,
		linear-gradient(to bottom, #0d3466 0%, #1f4d7d 100%);
	padding: 33px 0 0 2px;
}

.schema4 {
	background: url(../img/schema4.png) no-repeat center top,
		-webkit-gradient(linear, left top, left bottom, from(#0d3466), to(#1f4d7d));
	background: url(../img/schema4.png) no-repeat center top,
		linear-gradient(to bottom, #0d3466 0%, #1f4d7d 100%);
}

.schem p {
	width: 220px;
	color: #fff;
	font-size: 17px;
	font-weight: 400;
	line-height: 26px;
	padding: 20px 0;
}

.fast {
	padding: 20px 30px;
	position: relative;
}

.webp .fast {
	background: #1f4d7d url(../img/tonometer.webp) no-repeat 90% bottom;
}

.no-webp .fast {
	background: #1f4d7d url(../img/tonometer.png) no-repeat 90% bottom;
}

.fast h1 {
	padding: 15px 0 15px 80px;
	color: #89dcff;
	background: url(../img/alert1.png) no-repeat 0 center;
	font: 700 29px 'Open Sans', sans-serif;
	line-height: 44px;
	text-transform: uppercase;
}

.fast div {
	color: #fff;
	font: 400 20px 'Open Sans', sans-serif;
	margin: 20px 0 10px 0;
	padding-right: 382px;
	line-height: 30px;
}

.fast span {
	color: #b5e9ff;
	font-weight: 500;
}

.fast:after {
	position: absolute;
	display: block;
	content: '';
	width: 203px;
	height: 262px;
	top: 130px;
	left: 495px;
}

.webp .fast:after {
	background: url(../img/clock.webp) no-repeat center;
}

.no-webp .fast:after {
	background: url(../img/clock.png) no-repeat center;
}

.block10 .container {
	padding-bottom: 40px;
}

.review {
	margin-top: 60px;
	display: inline-block;
	max-width: 31%;
	height: 575px;
	padding: 140px 20px 20px 20px;
	background: #356f9c;
	position: relative;
	vertical-align: top;
}

.review p {
	color: #fc0;
	font: 500 18px 'Open Sans', sans-serif;
	line-height: 12px;
	text-align: left;
}

.review div {
	padding-top: 10px;
	color: #fff;
	text-align: left;
	font-weight: 400;
	line-height: 22px;
}

.review:after {
	position: absolute;
	display: block;
	content: '';
	width: 150px;
	height: 150px;
	top: -30px;
	left: 80px;
}

.webp .review:nth-child(1):after {
	background: url(../img/review1.webp) no-repeat center;
}
.no-webp .review:nth-child(1):after {
	background: url(../img/review1.png) no-repeat center;
}

.webp .review:nth-child(2):after {
	background: url(../img/review2.webp) no-repeat center;
}
.no-webp .review:nth-child(2):after {
	background: url(../img/review2.png) no-repeat center;
}

.webp .review:nth-child(3):after {
	background: url(../img/review3.webp) no-repeat center;
}
.no-webp .review:nth-child(3):after {
	background: url(../img/review3.png) no-repeat center;
}


.block11 .container {
	padding: 40px 10px;
}

.certificates {
	text-align: center;
}

.certificates img {
	margin-right: 5px;
}

.certificates img:last-child {
	margin-right: 0;
}

.orders {
	float: left;
	width: 231px;
	padding-top: 170px;
	position: relative;
	margin-right: 10px;
}

.orders p {
	color: #ff513a;
	line-height: 22px;
	text-transform: uppercase;
}

.orders div {
	width: 215px;
	color: #fff;
	font-weight: 400;
	line-height: 22px;
	padding-top: 10px;
}

.orders:after {
	position: absolute;
	display: block;
	content: '';
	width: 140px;
	height: 100px;
	background: url(../img/electro.png) no-repeat center;
	top: 20px;
	left: 165px;
}

.orders:last-child {
	margin-right: 0;
}

.orders:last-child:after {
	display: none;
}

.order1 {
	background: url(../img/order1.png) no-repeat center top;
}

.order2 {
	background: url(../img/order2.png) no-repeat center top;
}

.order3 {
	background: url(../img/order3.png) no-repeat center top;
}

.order4 {
	background: url(../img/order4.png) no-repeat center top;
}

.timer {
	width: 215px;
	text-align: center;
	display: inline-block;
}

.timer1 {
	width: 248px;
	margin-top: 30px;
	text-align: center;
}

.timer1 .timer__item {
	background-color: #4b8cbe;
}

.timer1 p,
.timer1 .timer__item-title,
.timer1 .timer_punkt {
	color: #fc0;
}

.timer1 p {
	margin-bottom: 10px;
}

.timer__index {
	width: 50px;
	display: inline-block;
}

.timer__item {
	width: 50px;
	height: 50px;
	background: #0d3466;
	color: #fff;
	font: bold 26px 'Open Sans', sans-serif;
	line-height: 30px;
	padding: 10px 5px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	display: block;
	position: relative;
}

.timer__item:after {
	display: block;
	position: absolute;
	content: '';
	width: 100%;
	height: 1px;
	background-color: #6e8092;
	top: 50%;
	left: 0;
}

.timer__item-title {
	color: #0d3466;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	margin: 10px auto;
	display: block;
}

.time .timer p {
	float: left;
	color: #0d3466;
	padding: 10px 0 5px 5px;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
}

.timer_punkt {
	color: #0d3466;
	float: left;
	line-height: 50px;
	padding: 0 5px;
	font-size: 30px;
}

@media (max-width: 999px) {

	.block3 .container {
		height: auto;
		padding-bottom: 50px;
	}

	.title3 h1 {
		font: bold 26px 'Open Sans', sans-serif;
	}

	.title3 span {
		font: 400 26px 'Open Sans', sans-serif;
	}

	.title3 p {
		font: 500 22px 'Open Sans', sans-serif;
	}

	.block3 .container:after {
		height: 495px;
		bottom: 0;
		left: auto;
		right: 0;
	}

	.webp .block3 .container:after {
		background: url(../img/men.webp) no-repeat center bottom;
		background-size: 80%;
	}

	.no-webp .block3 .container:after {
		background: url(../img/men.png) no-repeat center bottom;
		background-size: 80%;
	}

	.certificates img {
		margin-right: 10px;
	}
}

@media (max-width: 999px) and (min-width: 769px) {

	.container {
		max-width: 769px;
	}

	.block1 {
		background: url(../img/block1bg.png) no-repeat 48% top, url(../img/block1bg2.png) no-repeat bottom center, -webkit-gradient(linear, left bottom, left top, from(#2d5472), to(#081f3d));
		background: url(../img/block1bg.png) no-repeat 48% top, url(../img/block1bg2.png) no-repeat bottom center, linear-gradient(to top, #2d5472 0%, #081f3d 100%);
	}

	.block1 .container:before {
		top: 150px;
		left: 550px;
		z-index: 2;
	}

	.block1 .container {
		padding: 30px 10px 30px 10px;
	}

	.title1 h1 {
		font-size: 36px;
		line-height: normal;
	}

	.bulit:before,
	.webp .bulit:before,
	.no-webp .bulit:before {
		display: none;
		background: none;
	}

	.block6 .container .block1-right {
		padding-top: 30px;
	}

	.box-with-tube img {
		width: 150px;
		top: 250px;
		left: -120px;
	}

	.discount {
		left: -75px;
		top: 200px;
	}

	.statistic {
		width: 30%;
		margin: 10px 12px;
	}

	.statistic1,
	.statistic2,
	.statistic3 {
		background-size: 100%;
	}

	.necessary {
		padding-bottom: 250px;
		background-size: 60%;
	}

	.webp .necessary {
		background: #1f4d7d url(../img/artery.webp) no-repeat center bottom;
	}

	.no-webp .necessary {
		background: #1f4d7d url(../img/artery.png) no-repeat center bottom;
	}

	.necessary h1 {
		font: 600 20px 'Open Sans', sans-serif;
		padding-left: 50px;
		height: auto;
	}

	.necessary div {
		padding: 0;
	}

	.block5 .container div {
		padding: 20px 10px;
	}

	.exposition {
		padding: 10px 20px 0 340px;
		font: 400 18px 'Open Sans', sans-serif;
		line-height: 30px;
		color: #010101;
		font-weight: 400;
	}

	.box-with-tube6 {
		position: relative;
		left: auto;
		top: auto;
		bottom: auto;
		right: auto;
		margin: 0 auto;
		float: none;
		width: 300px;
	}

	.block2-main {
		float: none;
		margin: 0 auto;
		width: 100%;
		max-width: 350px;
	}

	.img_wrap {
		width: 300px;
		text-align: center;
	}

	.box-with-tube6 .discount {
		top: auto;
		left: auto;
		right: 10px;
		bottom: 20px;
	}

	.time .timer p {
		padding: 5px;
	}

	.forma6 {
		float: none;
		margin: 0 auto;
	}

	.no-contain,
	.no-contain1,
	.no-contain2,
	.no-contain3 {
		display: inline-block;
		width: 240px;
		margin: 20px 0 0;
		float: none;
		vertical-align: top;
	}

	.statistic p:first-child {
		font-size: 18px;
	}

	.also-left {
		height: 130px;
		width: 360px;
		padding: 30px 130px 20px 20px;
	}

	.also-right {
		height: 130px;
		width: 360px;
		padding: 30px 20px 20px 130px;
	}

	.recommends {
		background: #fff;
	}

	.doctorbg {
		background: url(../img/bg9.png) no-repeat center bottom;
	}

	.title9 {
		padding: 20px;
		font-size: 30px;
	}

	.recommend {
		padding-right: 0;
	}

	.review {
		margin-top: 32px;
		max-width: 100%;
		height: auto;
	}
	.review:not(:last-of-type) {
		margin-bottom: 25px;
	}

	.review p {
		text-align: center;
	}

	.review:after {
		left: 309px;
	}

	.schem,
	.schem:last-child {
		margin: 0 30px;
	}

	.fast h1 {
		font: 600 22px 'Open Sans', sans-serif;
		line-height: 34px;
	}

	.fast div {
		padding-right: 265px;
	}

	.fast:after {
		top: 135px;
		left: 530px;
	}

	.orders,
	.order1,
	.order2,
	.order3,
	.order4 {
		display: inline-block;
		width: 178px;
		padding: 147px 0 0px 0;
		margin: 0;
		float: none;
		vertical-align: top;
		background-position: center top;
	}

	.orders p {
		color: #ff513a;
		line-height: 22px;
		text-transform: uppercase;
	}

	.orders div {
		width: 178px;
		color: #fff;
		font-weight: 400;
		font-size: 13px;
		line-height: 22px;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.orders:after {
		display: none;
	}

	.time {
		margin: 0 auto;
		width: 305px;
		height: auto;
	}

	.img_prod {
		width: 150px;
	}
}

@media (max-width: 768px) {

	.box-with-tube img,
	.img_prod {
		width: 130px;
	}

	.img_wrap {
		margin: 0 0 20px;
	}

	.discount {
		left: -45px;
		top: auto;
		bottom: 10px;
	}

	.container {
		max-width: 480px;
	}

	.block1 {
		background: -webkit-gradient(linear, left top, left bottom, from(#123a6c), to(#4b8cbe));
		background: linear-gradient(to bottom, #123a6c, #4b8cbe);
		background-size: 100%;
	}

	.block1 .container {
		background: 0;
	}

	div.btn-top {
		display: none;
	}

	.bulit:before {
		top: 360px;
		left: 145px;
	}

	.title1 h1 {
		line-height: normal;
		font: bold 32px 'Open Sans', sans-serif;
	}

	.title1 br {
		display: none;
	}

	.block1-left {
		width: 280px;
		float: none;
		margin: 20px auto;
	}

	.block2-main {
		float: none;
	}

	.time {
		margin: 0 auto;
		width: 300px;
		height: auto;
	}

	.bulit {
		margin: 0 auto;
	}

	.timer1 {
		margin: 0 auto;
	}

	.box-with-tube img {
		position: inherit;
		top: 0;
		left: 90px;
	}

	.block1-right,
	.box-with-tube,
	.box-with-tube6,
	.forma,
	.forma6 {
		margin: 0 auto;
		float: none;
	}

	.block1-right {
		width: 365px;
	}

	.forma,
	.forma6 {
		margin-bottom: 20px;
	}

	.box-with-tube,
	.box-with-tube6 {
		position: relative;
		width: 300px;
		top: 0;
		left: 0;
	}

	.box-with-tube6 .discount {
		top: 20px;
		left: auto;
		bottom: auto;
		right: -20px;
	}

	.block3 .container {
		height: auto;
		padding: 20px 10px 350px 10px;
	}

	.block3 .container:after {
		position: absolute;
		display: block;
		content: '';
		width: 327px;
		height: 336px;
		bottom: 0%;
		left: 100px;
	}

	.webp .block3 .container:after {
		background: url(../img/men.webp) no-repeat center;
		background-size: 80%;
	}

	.no-webp .block3 .container:after {
		background: url(../img/men.png) no-repeat center;
		background-size: 80%;
	}

	.symptoms br {
		display: none;
	}

	.symptom1 p:last-child,
	.symptom2 p:last-child,
	.symptom3 p:last-child,
	.symptom4 p:last-child {
		font-size: 32px;
	}
	.symptom1 span, .symptom2 span, .symptom3 span, .symptom4 span {
		font: 400 32px 'Open Sans', sans-serif;
	}

	.statistic {
		float: none;
		margin: 10px auto 0;
	}

	.necessary {
		padding: 20px 20px 240px 20px;
	}

	.webp .necessary {
		background: #1f4d7d url(../img/artery.webp) no-repeat right bottom;
		background-size: 90%;
	}

	.no-webp .necessary {
		background: #1f4d7d url(../img/artery.png) no-repeat right bottom;
		background-size: 90%;
	}

	.necessary h1 {
		padding-left: 75px;
		text-align: left;
		height: auto;
		font-size: 20px;
	}

	.necessary div {
		padding: 0;
	}

	.exposition {
		padding: 0 10px;
	}

	.title5 {
		font-size: 30px;
	}

	.no-contain {
		float: none;
	}

	.also-left,
	.also-right {
		width: 100%;
	}

	.box-with-tube6 img {
		display: block;
		margin: 0 auto;
	}

	.title9 {
		padding: 20px 20px;
		font: bold 26px 'Open Sans', sans-serif;
	}

	.doctorbg {
		background: url(../img/bg9.png) no-repeat center bottom;
		padding: 0 20px 10px 20px;
	}

	.recommend {
		padding-right: 0;
	}

	.recommend br {
		display: none;
	}

	.signature {
		background: url(../img/signature.png) no-repeat 70% bottom;
		padding: 20px 10px 50px 0;
	}

	.signature:after {
		top: -12px;
		left: 280px;
	}

	.signature p:first-child {
		font-size: 19px;
		font-weight: 600;
	}

	.review {
		margin-top: 32px;
		max-width: 100%;
		height: auto;
	}

	.review p {
		text-align: center;
	}

	.review:after {
		top: -30px;
		left: 155px;
	}

	.schem {
		margin: 0;
	}

	.fast {
		padding: 20px 20px;
	}

	.fast h1 {
		font-size: 18px;
		line-height: 22px;
		margin: 0;
	}

	.fast div {
		font-size: 18px;
		padding: 0 0 250px 0;
		margin: 0;
	}

	.fast:after {
		top: 295px;
		left: 45px;
		width: 150px;
	}
	.webp .fast:after,
	.no-webp .fast:after {
		background-size: contain;
	}

	.block11 .container {
		padding: 20px 10px;
	}

	.block8 .container {
		padding: 20px 10px;
	}

	.title4 {
		font-size: 24px;
	}

	.certificates img {
		margin-right: 0;
	}

	.orders,
	.order1,
	.order2,
	.order3,
	.order4 {
		display: inline-block;
		width: 240px;
		padding: 145px 0 0px 0;
		margin: 0;
		float: none;
		vertical-align: top;
		background-position: center top;
	}

	.contains {
		text-align: center;
	}

	.orders p {
		color: #ff513a;
		line-height: 22px;
		text-transform: uppercase;
	}

	.orders div {
		width: 178px;
		color: #fff;
		font-weight: 400;
		line-height: 22px;
		padding-top: 10px;
	}

	.orders:after {
		display: none;
	}

	.block5 .container div:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255, 255, 255, .7);
		z-index: -1;
	}

	.block5 .container div {
		padding: 10px 10px;
		position: relative;
	}

	.block5 .container div h1,
	.block5 .container .exposition {
		position: relative;
		z-index: 1;
	}
}

@media (max-width: 479px) {

	.img_wrap {
		margin-left: 15px;
	}

	.container {
		max-width: 320px;
	}

	.block1 .container {
		padding: 0 10px 20px 10px;
	}

	.logo {
		float: none;
		width: 220px;
		margin: 5px auto;
	}

	.btn-top1 {
		display: block;
		float: none;
		width: 100%;
		text-align: center;
		margin: 10px auto;
	}

	.title1 h1 {
		margin: 0;
		font-size: 22px;
		text-align: center;
	}

	.title1 p {
		font-size: 20px;
		line-height: 20px;
		text-align: center;
	}

	.bulit:before {
		left: 135px;
		top: 400px;
	}

	.discount {
		right: 10px;
		left: auto;
	}

	.block1-right {
		width: 300px;
	}

	.submit {
		font-size: 14px;
		padding: 0 10px;
	}

	.share_price {
		font-size: 18px;
		padding: 20px 0;
	}

	.time {
		width: 100%;
		height: auto;
		padding: 10px 0;
	}

	.time1 {
		max-width: 300px;
		padding: 10px;
		margin: 0 auto;
	}

	.timer,
	.price {
		float: none;
		margin: 0 auto;
	}

	.block1-right .share_price {
		padding: 12px 5px 10px;
	}

	.price {
		padding: 0;
	}

	.x_price_current {
		float: none;
	}

	.box-with-tube,
	.box-with-tube6 {
		width: 100%;
	}

	.box-with-tube img {
		left: 0;
		width: 150px;
	}

	.box-with-tube6 .discount {
		left: 55%;
	}

	.block1-right .forma {
		max-width: 280px;
		margin: 20px auto 0;
		float: none;
	}

	.forma6 {
		width: 100%;
		float: none;
		margin: 20px 0;
	}

	.title3 {
		margin-bottom: 0;
	}

	.title3 h1 {
		font-size: 24px;
	}

	.title3 p {
		font-size: 20px;
	}

	.symptoms div {
		padding: 10px;
	}

	.symptom1,
	.symptom2,
	.symptom3,
	.symptom4 {
		background: -webkit-gradient(linear, left top, right top, from(#ff5139), to(#4b8cbe));
		background: linear-gradient(to right, #ff5139 0%, #4b8cbe 100%);
	}

	.block3 .container {
		padding: 0px 10px 380px 10px;
	}

	.block3 .container:after {
		width: 285px;
		height: 366px;
		bottom: 0px;
		left: 20px;
	}
	.webp .block3 .container:after,
	.no-webp .block3 .container:after {
		background-size: 100%;
	}
	.statistic {
		width: 300px;
	}

	.necessary {
		padding: 10px 10px 180px 10px;
	}

	.webp .necessary {
		background: #1f4d7d url(../img/artery.webp) no-repeat right bottom;
		background-size: 90%;
	}

	.no-webp .necessary {
		background: #1f4d7d url(../img/artery.png) no-repeat right bottom;
		background-size: 90%;
	}
	
	.necessary h1 {
		padding-left: 75px;
		font-size: 18px;
		text-align: left;
	}

	.necessary div {
		font: 400 16px 'Open Sans', sans-serif;
		margin: 0;
		line-height: normal;
	}

	.block5 .container {
		padding: 10px;
	}

	.block5 .container div {
		padding: 10px 10px;
	}

	.exposition {
		font-size: 16px;
		line-height: normal;
	}

	.title5 {
		font-size: 20px;
		line-height: normal;
	}

	.title7 {
		font-size: 20px;
		padding: 0;
	}

	.ingredient1,
	.ingredient2,
	.ingredient3 {
		float: none;
		margin: 5px auto;
		width: 300px;
	}

	.ingredient1:after,
	.ingredient2:after,
	.ingredient3:after {
		width: 270px;
	}

	.composition {
		width: 100%;
		padding: 140px 4px 25px 4px;
		margin: 0;
		line-height: 24px;
		min-height: 0;
	}

	.doctorbg {
		padding: 0 10px 20px 10px;
	}

	.recommend,
	.fast div {
		line-height: normal;
	}

	.also1,
	.also3,
	.also5 {
		background: -webkit-gradient(linear, left top, right top, from(#064d84), to(#0d3466));
		background: linear-gradient(to right, #064d84, #0d3466);
	}

	.also2,
	.also4,
	.also6 {
		background: -webkit-gradient(linear, right top, left top, from(#4a3b5b), to(#0d3466));
		background: linear-gradient(to left, #4a3b5b, #0d3466);
	}

	.also-left,
	.also-right {
		float: none;
		width: 300px;
		padding: 20px;
		text-align: left;
		font-size: 16px;
	}

	.also-right {
		text-align: right;
	}

	.title9 {
		font-size: 22px;
	}

	.signature {
		background: url(../img/signature.png) no-repeat 5% bottom;
		padding: 20px 10px 120px 0;
		width: auto;
	}

	.signature p:first-child {
		font-size: 18px;
	}

	.signature:after {
		left: 135px;
		top: 72px;
	}

	.review:after {
		left: 75px;
	}

	.schem,
	.schem:last-child {
		float: none;
		margin: 0 auto;
	}

	.fast h1 {
		font-size: 16px;
		line-height: 22px;
		margin: 0;
	}

	.fast div {
		font-size: 16px;
		padding: 0 0 140px 0;
		margin: 0;
	}

	.fast {
		padding: 10px;
	}

	.webp .fast {
		background: #1f4d7d url(../img/tonometer.webp) no-repeat right bottom;
		background-size: 60%
	}

	.no-webp .fast {
		background: #1f4d7d url(../img/tonometer.png) no-repeat right bottom;
	}

	.fast:after {
		top: 350px;
		left: -40px;
	}

	.order1,
	.order3 {
		margin-right: 0;
	}

	.orders,
	.orders:last-child {
		float: none;
	}

	.order1,
	.order2,
	.order3,
	.order4 {
		background-position: center top;
	}

	.orders:after {
		display: none;
	}

	.orders p,
	.orders div {
		text-align: center;
	}
}

.youtube {
	background-color: #000;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	cursor: hand;
	cursor: pointer
}
.nowrap {
	white-space: nowrap;
}
.ingredient-list {
	display: flex;
	justify-content: space-between;
}
.ever-popup__body {
	padding: 40px 10px;
	background: #fff5cb url(../img/block2bg.png) no-repeat center 100%!important;
}
.promo {
	padding-bottom: 30px;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.statistic__wrapper {
	margin-bottom: 30px;
}
.statistic-subtitle {
	margin-bottom: 10px;
}
.block7, .block9 {
	padding: 40px 0;
}
.ever-popup__body .box-with-tube6 {
	top: 46px;
}

@media(max-width: 999px) {
	.ever-popup__body .block2-main {
		display: none;
	}
	.ever-popup__body .box-with-tube6 {
		display: none;
	}
	.ever-popup__inner {
		width: 340px!important;
	}
	.ever-popup__body {
		padding: 20px 10px;
	}
	.ever-popup.show{
		display: flex!important;
		align-items: center;
		justify-content: center;
	}
	.ever-popup__inner {
		margin: 0!important;
	}
	.composition {
		width: 100%;
	}
	.ingredient1, .ingredient2, .ingredient3 {
		width: 33%;
	}
	.title4 {
		font: bold 30px 'Open Sans', sans-serif;
	}
	.block6 .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.share_price {
		padding: 0;
		margin-bottom: 20px;
	}
	.block6 .timer {
		width: 170px;
	}
	.time {
		width: 280px;
	}
	.block6 .price {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: row-reverse;
	}
	.block6 .price_previous {
		margin-right: 15px;
	}
	.block2-main {
		width: 280px;
		margin-right: 20px;
	}
	.img_wrap {
		margin: 0;
	}
	.submit {
		line-height: 1.2;
		padding: 10px 5px;
	}
	.box-with-tube6,
	.img_wrap {
		width: 230px;
	}
	.img_wrap {
		text-align: left;
	}
	.orders div {
		font-size: 16px;
		line-height: 1.2;
	}
	.bulit {
		width: 100%;
		margin-top: 0;
	}
	.block1-left {
		width: 230px;
	}
	.block1-right {
		width: 310px;
		margin-top: 0;
	}
	.title1 {
		margin-bottom: 30px;
	}
	.block1-left {
		margin-top: 0;
	}
	.timer1 {
		width: 230px;
	}
	.timer1 p {
		font-size: 15px;
	}
	.box-with-tube {
		top: 265px;
		left: 260px;
	}
	.box-with-tube img {
		width: 150px;
		top: 0px;
		left: 0px;
	}
	.promo {
		padding-bottom: 0px;
	}
	.block3 .container,
	.block4 .container {
		padding: 30px 10px;
	}
	.title3 {
		margin-bottom: 20px;
	}
	.title4 {
		font: bold 29px 'Open Sans', sans-serif;
	}
	.title5, .title7 {
		color: #0d3466;
		font: 700 30px 'Open Sans', sans-serif;
	}
	.promo .discount {
		display: none;
	}
	.timer__item-title {
		margin: 10px auto 0;
	}
	.timer1 {
		margin-top: 20px;
	}
	.block6, .block8 .container, .block11 .container,
	.block5 .container, .block1 .container, .block7, .block9 {
		padding: 30px 10px;
	}
	.block10 .container {
		padding-bottom: 30px;
		padding-top: 30px;
	}
	.composition {
		min-height: 322px;
	}
	
}

@media(max-width: 768px) {
	.title1 p {
		font: bold 21px 'Open Sans', sans-serif;
	}
	.title1 h1 {
		font: bold 30px 'Open Sans', sans-serif;
		margin-bottom: 10px;
	}
	.box-with-tube {
		left: 0;
		top: 0;
		text-align: center;
		margin-bottom: 20px;
	}
	.block3 .container {
		padding-bottom: 370px;
	}
	.promo .discount {
		display: block;
	}
	.statistic:not(:last-of-type) {
		margin-bottom: 20px;
	}
	.necessary div {
		line-height: 1.3;
	}
	.block6 .container {
		flex-direction: column;
	}
	.block2-main {
		margin: 0 auto 20px;
		width: 100%;
	}
	.box-with-tube6 {
		margin-bottom: 20px;
	}
	.block6 .container {
		padding: 0px;
	}
	.forma6 {
		margin-bottom: 0px;
	}
	.ingredient-list {
		flex-direction: column;
		margin-bottom: 25px;
	}
	.ingredient1, .ingredient2, .ingredient3 {
		width: 100%;
	}
	.composition {
		min-height: 1px;
	}
	.ingredient1, .ingredient2 {
		margin-bottom: 20px;
	}
	.no-contain {
		margin: 0px auto 20px
	}
	.no-contain:last-of-type {
		margin: 0px auto;
	}
	.review.review:not(:last-of-type) {
		margin-bottom: 25px;
	}
	.schem p, .exposition {
		line-height: 1.2;
	}
	.title4 {
		margin-bottom: 30px;
	}
}

@media(max-width: 479px) {
	.fast:after {
		display: none;
	}
	.webp .fast:after,
	.no-webp .fast:after {
		background: none;
	}

	.composition div, .no-contain div {
		margin-top: 10px;
	}
	.title5, .title7 {
		color: #0d3466;
		font: 700 22px 'Open Sans', sans-serif;
	}
	.title4 {
		font: bold 26px 'Open Sans', sans-serif;
	}
}

@media(max-width: 375px) {
	.bulit:before {
		display: none;
		background: none;
	}
	.ever-popup__inner {
		width: 300px!important;
	}
}

.center-price {
	position: relative;
	top: 4px
}
.block1 {
	position: relative;
}
.block1::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #4b8cbe;
	left: 0;
	bottom: 0px;
}
@media(max-width: 999px) {
	.forma {
		width: calc(100% - 20px);
	}
	.submit {
		font: 600 15px 'Open Sans', sans-serif;
	}
	.title7 {
		color: #fff;
	}
}

@media(max-width: 768px) {
	.share_price {
		font-size: 30px;
	}
	.no-contain {
		padding-top: 220px;
	}
	.composition div, .no-contain div {
		margin-top: 5px;
	}
	.order1, .order2, .order3 {
		margin-bottom: 15px;
	}
	.orders div {
		width: 100%;
	}
	.title7 {
		margin-bottom: 20px;
	}
}
@media(max-width: 479px) {
	.title1 h1 {
		font: bold 26px 'Open Sans', sans-serif;
	}
	header {
		flex-direction: column;
	}
	.logo {
		width: 180px;
	}
	.block1-right {
		width: 300px;
	}
	.symptom1 p:last-child, .symptom2 p:last-child, .symptom3 p:last-child, .symptom4 p:last-child {
		font-size: 26px;
	}
	.symptom1 span, .symptom2 span, .symptom3 span, .symptom4 span {
		font: 400 26px 'Open Sans', sans-serif;
	}
	.symptoms div {
		font-size: 17px;
	}
	.share_price {
		font-size: 26px;
	}
	.block8 .container h1 {
		margin-bottom: 15px;
	}

	.orders div {
		padding-top: 5px;
	}
	.block3 .container {
		padding-bottom: 390px;
	}
	.box-with-tube6 {
		margin-bottom: 0px;
	}
}
.ev-footer__logo {
	display: none!important;
}

@media(max-width: 360px) {
	.doctorbg {
		background: #fff;
	}
	.webp .block3 .container:after {
		background: url(../img/men-mob.webp) no-repeat bottom;
	}
	.no-webp .block3 .container:after {
		background: url(../img/men-mob.png) no-repeat bottom;
	}
	.webp .necessary {
		background: #1f4d7d url(../img/artery-mob.webp) no-repeat right bottom;
	}
	.no-webp .necessary {
		background: #1f4d7d url(../img/artery-mob.png) no-repeat right bottom;
	}
	.webp .block5 .container div {
		background: #fff;
	}
	
	.no-webp .block5 .container div {
		background: #fff;
	}
	.ever-popup__body {
		background: #fff5cb;
	}
	.block6 {
		background: #fff5cb;
	}
}

@media(min-width: 1000px) {
	.bulit li {
		font-size: 19px;
		line-height: 1.2;
	}
	.previous, .current {
		font-size: 15px;
		text-align: center;
	}

}
.block1 .price_previous, .block1 .price_current {
	display: flex;
	flex-direction: column;
	align-items: center;
}